
<div class="paragraph paragraph--type--exemple">
	<div class="kanji-kana">
    <div class="field field--name-field-kanji">
      {{label}}
    </div>
   	<div class="field field--name-field-kana">
   		{{node.field_onyomi.value}}
  	</div>
  </div>

	<div class="field field--name-field-traduction">
	{{node.field_traduction_generale.value}}
	</div>
</div>